@{
    Layout = null;
}

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>PARTYYY</title>
    </head>
    <body>
       <div>
           <div>
               WERE GOING TO HAVE A PARTY!!!<br />
               HELLO PARTYYY
           </div>
         <a asp-action="RsvpForm">RSVP</a>
       </div> 
    </body>
</html>
